/*variables */
:root{
  --shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  --color1: #FDF7E4;
  }

body {
  background-color: #303030;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 3fr 6.5fr;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;

  grid-column: 1/3;
  grid-row: 2/3;
}


#closeImg {
  height: 4vh;
}

.close {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 1.5rem;
  border-radius: 100%;
  background-color: #C0C0C0;
  box-shadow: var(--shadow);

  grid-column: 2/3;
  grid-row: 1/2;
}
.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headerAvatar {
  border-radius: 100%;
  height: 16vh;
  box-shadow: var(--shadow);
}

.avatarName {
  font-size: 3.3rem;
  margin: 1rem 0;
}

.avatarLocation {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#locationIcon {
  height: 2vh;
}

.main {
  height: 65vh;
  background-color: 	#414a4c;
  grid-row: 3/4;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.mainBtn {
  height: 5vh;
  border-radius: 100%;
  background-color: white;
  padding: 3.5rem;
  box-shadow: var(--shadow);
}

.btnText {
  font-size: 2.5rem;
}

.btnDiv {
  display: flex;
  flex-direction: column;
}

.btnText {
  padding-top: 1.5rem;
  text-align: center;
}